/* Scrollbar Chrome */
::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;
}

/* Scrollbar Firefox */
:root{
  scrollbar-color: light;
  scrollbar-width: thin !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h1 {
  font-style: oblique;
  font-stretch: ultra-condensed
}

/* Configuração Icones Social Media */
footer a{
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

footer a:active,
footer a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke;
}
